<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Most popular twitch.tv game streams on one page">

        <link rel="shortcut icon" href="/icons/favicon.ico">
        <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/icons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
        <link rel="manifest" href="/icons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <title>Game streams</title>

        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.min.css">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular-resource.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular-sanitize.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular-animate.min.js"></script>
        <script src="/js/ngStorage.min.js"></script>
        <script src="/js/controller.js"></script>
        <script src="/js/holder.js"></script>

        {{ template "google_analytics" }}
        {{ template "yandex_metrika" }}
        
    </head>

    <body ng-app="dotaStreams" ng-controller="streamList" style="overflow-y: scroll">

        <div class="bs-docs-featurette" style="background-color: #000">
            <stream ng-if="config.stream" style="display: block; height: 670px;"></stream>
        </div>
        <nav class="navbar-inverse">
            <div class="container">
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li ng-class="activeGame.id ? '' : 'active'">
                            <a class="navbar-brand" href="/[[config.stream ? '?channel=' + config.stream : '']]">
                                <img class="animated bounceIn" height="20" style="vertical-align: baseline" src="/icons/apple-icon-180x180.png">
                            </a>
                        </li>
                        <li ng-class="activeGame.id == game.game.name ? 'active' : ''" ng-repeat="game in games.games">
                            <a class="animated fadeIn" href="/[[game.game.name | urlEncode]][[config.stream ? '?channel=' + config.stream : '']]" style="cursor: pointer">
                                [[ game.game.name ]]
                                <sup>[[ game.viewers ]]</sup>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <br>

        <div id="streams" class="bs-docs-featurette">
            <div class="container"  style="min-height: 1080px;">
                <div ng-if="loadingStreams && !streamsContainer.streams[0]">
                    <span class="animated fadeIn">
                        <i class="fa fa-cog fa-spin"></i>
                    </span>
                </div>
                <div ng-if="streamsContainer.streams[0] != null" ng-repeat="stream in streamsContainer.streams | orderBy:favorite:true">
                    <div class="col-sm-6 col-md-4 animated fadeInUp">
                        <div class="thumbnail" style="border: none;">
                            <a href="/[[activeGame.id | urlEncode]]?channel=[[stream.channel.name]]">
                                <img ng-src="[[stream.preview.medium]]" style="height: 200px; width: 100%; display: block;">
                            </a>
                            <div class="caption" ng-class="stream.channel.name == config.stream ? 'bg-info' : ''">
                                <h4 style="margin-bottom: 5px;">[[stream.channel.display_name]]</h4>
                                <p class="text-info" ng-show="activeGame.id | empty">[[stream.game]]</p>
                                <p class="small">[[stream.channel.status]]</p>
                                <p style="margin-bottom: 0; color: #d9534f; cursor: pointer" ng-click="like(stream.channel.name)">
                                    <i class="text-danger fa" ng-class="($storage.favorite_streams | filter:stream.channel.name:true).length ? 'fa-heart' : 'fa-heart-o'"></i>
                                    [[stream.viewers]]
                                </p>
                            </div>
                        </div>
                    </div>
                    <div ng-if="($index+1)%3 == 0" class="clearfix"></div>
                </div>
            </div>
        </div>

        <ng-view></ng-view>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script type="text/ng-template" id="video.tmp">
            <iframe ng-src="[[ trustSrc('http://player.twitch.tv/?channel=' + config.stream) ]]" frameborder="0" scrolling="no" height="670" width="100%" allowfullscreen></iframe>
        </script>

    </body>
</html>
