<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/all.js"></script>
    <link href="/css/all.css" rel="stylesheet">
</head>
<body>

<nav class="uk-navbar">
    <ul class="uk-navbar-nav uk-hidden-small">
        <li>
            <a href="">Test</a>
        </li>
    </ul>
    <a href="#my-id" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
</nav>
<div id="my-id" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas">
            <li class="uk-active">
                <a href="">Test</a>
            </li>
        </ul>
    </div>
</div>

<div class="uk-block uk-contrast uk-block-secondary">qw</div>


<div class="uk-grid">
    <div class="uk-width-large-1-5">
        <div class="uk-panel uk-panel-box">
            <div class="uk-panel-teaser">
                <img src="http://static-cdn.jtvnw.net/previews-ttv/live_user_beyondthesummit-320x180.jpg" width="800" height="280" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
    <div class="uk-width-large-1-5">
        <div class="uk-panel uk-panel-box">
            <div class="uk-panel-teaser">
                <img src="http://static-cdn.jtvnw.net/previews-ttv/live_user_beyondthesummit-320x180.jpg" width="800" height="280" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
    <div class="uk-width-large-1-5">
        <div class="uk-panel uk-panel-box">
            <div class="uk-panel-teaser">
                <img src="http://static-cdn.jtvnw.net/previews-ttv/live_user_beyondthesummit-320x180.jpg" width="800" height="280" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
    <div class="uk-width-large-1-5">
        <div class="uk-panel uk-panel-box">
            <div class="uk-panel-teaser">
                <img src="http://static-cdn.jtvnw.net/previews-ttv/live_user_beyondthesummit-320x180.jpg" width="800" height="280" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
    <div class="uk-width-large-1-5">
        <div class="uk-panel uk-panel-box">
            <div class="uk-panel-teaser">
                <img src="http://static-cdn.jtvnw.net/previews-ttv/live_user_beyondthesummit-320x180.jpg" width="800" height="280" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
    <div class="uk-width-large-1-5">
        <div class="uk-panel uk-panel-box">
            <div class="uk-panel-teaser">
                <img src="http://static-cdn.jtvnw.net/previews-ttv/live_user_beyondthesummit-320x180.jpg" width="800" height="280" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
    <div class="uk-width-large-1-5">
        <div class="uk-panel uk-panel-box">
            <div class="uk-panel-teaser">
                <img src="http://static-cdn.jtvnw.net/previews-ttv/live_user_beyondthesummit-320x180.jpg" width="800" height="280" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
    <div class="uk-width-large-1-5">
        <div class="uk-panel uk-panel-box">
            <div class="uk-panel-teaser">
                <img src="http://static-cdn.jtvnw.net/previews-ttv/live_user_beyondthesummit-320x180.jpg" width="800" height="280" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
</div>

<!--{-]]{ template "index_old" }}-->
</body>
</html>
